/* ----- DetailSchedule CSS ----- */
.detail_container {
    width: 100%;
    height: 50vh;
    border: 1px solid rgb(199, 198, 198);
    display: flex;
    flex-direction: column;
}

.DetailSchedule {
    /* border: 1px solid red; */
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

/* ----- DetailHeader CSS -----*/
.DetailHeader {
    border: 2px solid white;
    height: 54px;
}

.detailHeader_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
}


.detailHeader_date_box {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.detailHeader_date_box div {
    margin-right: 10px;
    font-size: 21px;
    font-family: "Dongle", sans-serif;
}

/* ----- NonSchedule CSS ----- */
.NonSchedule {
    /* border: 1px solid red; */
    background-color: rgb(226, 226, 226);
    height: calc(100% - 54px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nonSchedule_text {
    font-family: "Dongle", sans-serif;
    font-size: 50px;
    color: rgb(165, 163, 163);
}

/* ----- ScheduleList CSS ----- */
.ScheduleList {
    /* border: 1px solid red; */
    height: 55px;
    display: flex;
}

.scheduleList_time_box {
    border: 1px solid rgb(199, 195, 195);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.scheduleList_time_start,
.scheduleList_time_end {
    /* border: 1px solid blue; */
    text-align: center;
    font-family: "Dongle", sans-serif;
    font-size: 17px;

}

.scheduleList_text_box {
    border: 1px solid rgb(199, 195, 195);
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scheduleList_text_box span {
    margin-left: 10px;
    font-family: "Dongle", sans-serif;
    font-size: 20px;
}

.scheduleList_text_box div {
    position: relative;
}